/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'fifthcenturycaps';
  src: url('./assets/FifthCenturyCaps.ttf');
}

label {
  font-size: 16;
  font-family: 'fifthcenturycaps', sans-serif;
}
